<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">

  <link rel="icon" type="favicon" href="/images/icons/ICON-CAPMONEY.svg"/>


  <title>CapMoney | Sua Plataforma de investimentos</title>


  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/side-bar.css" />
  <link rel="stylesheet" href="/styles/partials/sobre.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">

</head>

<body id="page-landing">

  <nav>
    <img class="logo-cap" src="/images/LOGO-CAP.svg" alt="logo">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a class="active" href="/ajuda">Ajuda</a></li>
      <li><a id="bttn-entrar" href="/login">Entrar</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="logo-container">
      <img class="ajuda-image" src="/images/ajuda-image.png" alt="ajuda-image">
    </div>
    <h2>A CapMoney se trata de um site de investimentos que faz a ponte entre investidores ou financiadores com microempresários ou startups em ascensão.</h2>
  </div>
  <div class="ourValues">
    <h3>Central de Ajuda</h3>
    <p>
      O site dispõe de uma interface simples e bastante intuitiva, para que assim nossos usuários possam navegar de maneira rápida e eficaz. 
      Com o objetivo de fazer essa comunicação entre as duas entidades, a CapMoney não se responsabiliza pelos acordos e decisões efetuadas entre 
      a Startup e o Investidor após o encontro estabelecido.
    </p>
    <h2>Para mais dúvidas entre em contato: 4002-8922 &nbsp;<i class="fas fa-phone"></i></h2>
    
  </div>
  


  <footer>
    <h4>Capmoney</h4>
    <p>R. Cícero Duarte, nº 905 - Junco, Picos - PI, 64607-670</p>
    <p>📞 +55 (89) 4002-8922</p>
  </footer>
</body>

</html>