<!DOCTYPE html>
  <html lang="pt_br">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    
    <title>CapMoney | Sua Plataforma de investimentos</title>
  
    <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/png"> -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-home.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
  </head>
  
  <body id="page-landing">
  
    <div id="container">
  
      <div class="logo-container">
        <h1>CapMoney</h1>
        <h2>Encontre um sócio para seu negócio.</h2>
      </div>
  
      <img class="hero-image" src="/images/landing.svg" alt="Plataforma de estudos">
  
      <div class="buttons-container">
        <a class="startup" href="/startup">
          <img src="images/icons/startup.png" alt="startup">
          Startup
        </a>
        
        <a class="investidor" href="/investidor">
          <img src="images/icons/investidor.png" alt="Investir">
          Investidor
        </a>
      </div>
      
  
      <p class="total-connections">
        Entre com seu perfil correspondente
      </p>
  
    </div>
  
  </body>
  
  </html>