<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">
  <link rel="icon" type="favicon" href="/images/icons/ICON-CAPMONEY.svg"/>

  <title>CapMoney | Sua Plataforma de investimentos</title>
  

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/side-bar.css" />
  <link rel="stylesheet" href="/styles/partials/page-home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">

  <script src="/animations/player.js"></script>


</head>

<body id="page-landing">

  <nav>
      <img class="logo-cap" src="/images/LOGO-CAP.svg" alt="logo">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      
      <ul>
        <li><a class="active" href="#">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/ajuda">Ajuda</a></li>
        <li><a id="bttn-entrar" href="/login">Entrar</a></li>
      </ul>
  </nav>
 


  <div id="container">
    <div class="logo-container">
      <img src="/images/LOGO-CAPMONEY.svg" alt="Logo CapMoney">
      <h2>Encontre um sócio para seu empreendimento.</h2>
    </div>


    <div class="buttons-container">
      <a class="startup" href="/sobre">
        <!-- <img src="images/icons/startup.png" alt="startup"> -->
        Veja mais &nbsp;
        <i class="fas fa-angle-double-right"></i>
      </a>

      <!-- <a class="startup" href="/startup">
          <img src="images/icons/startup.png" alt="startup">
          Startup
        </a>
        
        <a class="investidor" href="/investidor">
          <img src="images/icons/investidor.png" alt="Investir">
          Investidor
        </a> -->
    </div>

    <div id="animacao">
      <script src="/animations/codigo.js"></script>
    </div>

    <p class="cadastro">
      "O risco vem de não saber o que você está fazendo." (Warren Buffett)
    </p>

  </div>

  <footer>
    <h4>Capmoney</h4>
    <p>R. Cícero Duarte, nº 905 - Junco, Picos - PI, 64607-670</p>
    <p>📞 +55 (89) 4002-8922</p>
</footer>

</body>

</html>