<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">

  <title>CapMoney | Sua Plataforma de investimentos</title>

  <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/png"> -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/page-home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">
</head>

<body id="page-landing">

  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">💰</label>
      <ul>
        <li><a class="active" href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
  </nav>
 


  <div id="container">
    <div class="logo-container">
      <h1>CapMoney</h1>
      <h2>Encontre um socio para seu empreendimento.</h2>
    </div>

    <img class="office-image" src="/images/landing.png" alt="Plataforma de estudos">

    <div class="buttons-container">
      <a class="startup" href="/sobre">
        <!-- <img src="images/icons/startup.png" alt="startup"> -->
        Veja mais ➡
      </a>

      <!-- <a class="startup" href="/startup">
          <img src="images/icons/startup.png" alt="startup">
          Startup
        </a>
        
        <a class="investidor" href="/investidor">
          <img src="images/icons/investidor.png" alt="Investir">
          Investidor
        </a> -->
    </div>


    <p class="cadastro">
      "O risco vem de não saber o que você está fazendo." (Warren Buffett)
    </p>

  </div>

</body>

</html>