<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="favicon" href="/images/icons/ICON-CAPMONEY.svg"/>
    <title>Cap Money - Investimentos</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/70997ba86d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/side-bar.css" />
    <link rel="stylesheet" href="/styles/partials/loginPage.css" />
    <link rel="stylesheet" href="/styles/partials/investidorPage.css" />
</head>

<body>
    
    <nav>
        <img class="logo-cap" src="/images/LOGO-CAP.svg" alt="logo">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/ajuda">Ajuda</a></li>
            <li><a class="active" id="bttn-sair" href="/">Sair</a></li>
        </ul>
    </nav>
    <!-------------------------------- GRID DO MEIO DA PAGINA -->
    <section id="box-page">
        <!------------------ container esquerda -->
        <div class="container-left">
            <ul>
                <li class="container-info">
                    <div class="search-box">
                        <input class="search-txt" type="text" name="" placeholder="Pesquisar" />
                        <a class="search-btn" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!------------------ container meio -->
        <div class="container-feed">
            <ul>
                {% for startup in  startups %}
                <li class="container-info">
                    <i class="fas fa-building"></i>
                    <legend>{{startup.Nome}}</legend>
                    <a class="contact-button" id="botao_contato" onClick="Mostrar()" href="#Form{{startup.id}}">
                        <i class="fas fa-comments-dollar"></i>
                        Contato
                    </a>

                     

                    <hr />
                    <span>{{startup.Objetivo}}</span>
                    <hr />
                    <div class="legend-post">
                        <span><a>Desde: 2009</a></span>
                        <span><a>Faturamento: {{startup.Faturamento}}</a></span>
                        <span><a>{{startup.Site}}</a></span>
                        <span><a>{{startup.Email}}</a></span>
                    </div>
                </li>

                <div id='Form{{startup.id}}' class="modal">
                    
                        <div>
    
                            <h2> Solicitação de reunião</h2>
                            <a href="#" title="Fechar" class="fechar">
                                <img src="images/icons/close.png" alt='Close'> 
                            </a>
                            <fieldset>
                               <form action="/reuniao" method="POST">
                                    <div>
                                        <div>
                                            <p>Digite a Url da reunião</p>
                                            <input required id='form_input1_startupID_{{startup.id}}' type="url" name='url'  placeholder="https://meet.google.com/new">
                                            <a title='Faça assim para gerar sua reunião'>
                                                <img src="images/icons/help.png" alt='icon help'>
                                            </a>       
                                        </div>
            
                                        <div>
                                            <p>Digite a Data da Reunião</p>
                                            <input required id='form_input2_startupID_{{startup.id}}' type="datetime-local" name='data' placeholder="09/07/21 14:50">
                                            <a title='Insira sua data assim'>
                                                <img src="images/icons/help.png" alt='icon help'>
                                            </a> 
                                        </div>    
                                        <div>
                                            <p>Startup {{startup.Nome}}</p>
                                            <input id='form_input3_startupID_{{startup.id}}' type="text" name='startup_id' value={{startup.id}}> <!-- value={{startup.id}} -->
                                            <a title='Essa será a startup de sua reunião'>
                                                <img src="images/icons/help.png" alt='icon help'>
                                            </a> 
                                        </div> 
                                        <div>
                                            <p>Investidor</p>
                                            <input id='form_input4_startupID_{{investLogado.id}}' type="text" name='investidor_id' value={{investLogado.id}}>  <!-- value={{investLogado.id}} -->
                                            <a title='Essa será seu nome para reunião'>
                                                <img src="images/icons/help.png" alt='icon help'>
                                            </a> 
                                        </div>   
                                    </div>
                                    <button type="submit" value="submit" >Agendar reunião</button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
       
        <!------------------ container direita -->
        <div class="container-right">
            <ul>
                <li class="container-info">
                    <div class="buttons-user">
                        <!-- <a href="" class="fas fa-user-edit"></a> -->
                        <a href="/deletarInvestidor/{{investLogado.id}}"class="fas fa-user-times"></a>
                    </div>
                    <div class="user-box">
                        <i class="fas fa-user-tie"></i>
                        <h1 class="name-user">{{investLogado.Nome}}</h1>
                        <hr>
                        <h3>Investidor</h3>
                        <h5 class="bio-user">{{investLogado.Bio}}</h5>
                    </div>
                </li>
                <li class="container-info">
                    <h4 class="meetings-title">Suas Reuniões</h4>
                        <hr>
                    {% for reuniao in reunioes %}
                        Data: {{reuniao.Data}} <br>
                        URL: {{reuniao.URL}} <br>
                        <a href="/deletarReuniao/{{reuniao.id}}"><button>Excluir</button></a>
                        <hr>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <h4>Capmoney</h4>
        <p>R. Cícero Duarte, nº 905 - Junco, Picos - PI, 64607-670</p>
        <p>📞 +55 (89) 4002-8922</p>
    </footer>

</body>

</html>