<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box-login-func">
        <div class="box-form">
            <h3>Login</h3>
            <form action="#" method="POST" onsubmit="return validaForm(this)">
                <input type="text"required name="username" id="username" placeholder="Nome de usuário">
                <input type="password" required name="passwd" id="passwd" placeholder="Senha">
                <button type="submit" VALUE="submit">Entrar</button>
                <a href="../cadastro" class="button">Cadastrar-se</a>
            </form>
        </div>
    </div>

    <script src="./script.js"></script>
</body>
</html>