<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		
    <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/partials/side-bar.css" />
	<link rel="stylesheet" href="/styles/partials/signupPage.css">
    <script src="https://kit.fontawesome.com/fd9b141ba6.js" crossorigin="anonymous"></script>
    <title>Cadastro</title>
</head>
<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<img class="logo-cap" src="/images/LOGO-CAP.svg" alt="logo">> 
	
		<ul>
			<li><a href="/">Início</a></li>
			<li><a href="#">Sobre</a></li>
			<li><a href="#">Ajuda</a></li>
			<li><a class="active" id="bttn-entrar" href="/login">Entrar</a></li>
		</ul>
</nav>
    <!-- from the tutorial https://medium.freecodecamp.org/how-to-build-a-double-slider-sign-in-and-sign-up-form-6a5d03612a34 -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/cadastroInvestidor"  onsubmit="return aSenhaehForteInvestidor()" method="POST">
			<h1>Criando conta de Investidor</h1>
			<input required type="text" placeholder="Name" name="Name" id="Name" />
			<input required type="email" placeholder="Email" name="Email" id="Email" />
			<input required type="password"  placeholder="Password" name="Password" id="Password_investidor"  onkeyup="validarSenhaForca_investidor()" />
			<div class="mx-auto" style="width: 200px;" id="erroSenhaForca_investidor"> </div>
			
			<input required type="text" placeholder="Biografia" name="Biografia" id="Biografia" />
			<button type="submit" value="submit" >Criar conta</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="/cadastroStartup"  onsubmit="return aSenhaehForteStartup()" method="POST">
			<h1>Criando Conta de Startup</h1>
			<input required	type="text" placeholder="nome" name="nome" id="nome" />
			<input required type="email" placeholder="Email" name="Email" id="email" />
			<input required type="password" placeholder="Password" name="Password" id="Password_startup"  onkeyup="validarSenhaForca_startup()"/>
			<div class="mx-auto"  style="width: 200px;" id="erroSenhaForca_startup"> </div>
			<input required type="url" placeholder="Site" name="Site" id="Site" />
			<input required type="text" placeholder="CNPJ" name="CNPJ" id="CNPJ" />
			<input required type="number" placeholder="Anos de atuação" name="Anos_de_atuação" id="Anos_de_atuação" />
			<input required type="text" placeholder="Info sobre faturamento" name="Info_sobre_faturamento" id="Info_sobre_faturamento" />
			<input required type="text" placeholder="Objetivo" name="Objetivo" id="Objetivo" />

			<button  type="submit" value="submit" >Criar conta</button>
		</form>
	</div>


	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<p>Está precisando de um sócio ou de capital para seu negócio, cadastre como:</p>
				<button class="ghost" id="signIn">Startup</button>
				<a id='back' href="/login"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>

			</div>
			<div class="overlay-panel overlay-right">
				<p>Pretende investir em outros negócios então cadastre como:</p>
				<button class="ghost" id="signUp">Investidor</button>
				<a id='back' href="/login"><i class="fas fa-arrow-left"></i>&nbsp;Voltar</a>
			</div>


		</div>
	</div>
</div>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
        	container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
        	container.classList.remove("right-panel-active");
        });
    </script>

<footer>
	<h4>Capmoney</h4>
	<p>R. Cícero Duarte, nº 905 - Junco, Picos - PI, 64607-670</p>
	<p>📞 +55 (89) 4002-8922</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/scripts/signupPage/forcaSenha.js"></script>
</body>
</html>