<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">
  <link rel="icon" type="favicon" href="/images/icons/fav.png" />

  <title>CapMoney | Sua Plataforma de investimentos</title>

  <link rel="icon" type="favicon" href="/images/icons/fav.png" />
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/partials/side-bar.css" />
  <link rel="stylesheet" href="/styles/partials/sobre.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">

</head>

<body id="page-landing">

  <nav>
    <img class="logo-cap" src="/images/LOGO-CAP.svg" alt="logo">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <ul>
      <li><a class="active" href="#">Início</a></li>
      <li><a href="#">Ajuda</a></li>
      <li><a id="bttn-entrar" href="/login">Entrar</a></li>
    </ul>
  </nav>

  <div class="container">
    <div class="logo-container">
      <img src="/images/landing.png" alt="Logo CapMoney">
    </div>
    <h2>Para pequenos e grandes clientes, capmoney, foi construída sobre a premissa que todos podemos ser investidores
      e/ou emprendedores.</h2>
  </div>
  <div class="ourValues">
    <h3>Nossos Valores</h3>
    <p>
      Ser a plataforma lider no modelo de negocio peer-to-peer lending, que é o modelo de empréstimo, de pessoas
      investindo em pessoas, sem a intermediação de um banco tradicional,
      com taxas menos abusivas, parcelas mais flexíveis e rentabilidade mais alta.
      E com a Capmoney ligando essas essas duas partes proporcionamos a chance de construir novos negocios fazendo com
      que o acabe com a dificuldade do Empreendedor em
      solicitar creditos para grandes instituições financeiras e do Investidor proporciando a este uma rentabilidade
      maior do que um imprestimo usando de intermediario o banco e com menos burocracia.
    </p>

    <ul>
      <li>
        <img src="/images/icons/icon-lgpd.png">
        <h4>LGPD</h4>
        <p>

          Capmoney desenvolveu a presente Política de Privacidade com base na Lei
          Geral de Proteção de Dados (LGPD), a fim de tratar da forma mais transparente possível
          os seus usuários.
        </p>
      </li>
      <li>
        <img src="/images/icons/icon-seguranca.png">
        <h4>Segurança</h4>
        <p>

          Não permitimos pessosas falsas no sistema, dispomos das tecnologias mais atuais que garantem que dados como
          CPF ou CNPJ são da pessoa ou organização correspondente.
        </p>
      </li>
      <li>
        <img src="/images/icons/icon-atualizacoe.png">
        <h4>Atualizações</h4>
        <p>

          Usamos realtime atualization, isso garante que podemos atualizar sua nossa plataforma em tempo real, sem que
          você caia ou deslogue da aplicação enquanto isso.
        </p>
      </li>
    </ul>
  </div>
  <div class="depoimentos">
    <h3>Depoimentos</h3>
    <div >

      <div class="pessoa">
        <img src="images/pessoa-depoimento.png" alt="">
        <p>Bill gates, Ceo Microsoft</p>
      </div>
      <div class="balao">
        
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ducimus, rem nobis nostrum esse exercitationem
          accusamus totam asperiores iste possimus! Cupiditate, perferendis ipsam minima eius obcaecati placeat officia
          fuga, asperiores vero, tempore ut iusto facere ex impedit quo! Culpa, placeat ad? At cumque nobis, explicabo
          voluptatum distinctio quis laborum rerum delectus nulla aliquam. Tenetur beatae asperiores, blanditiis magni in
          fugit deserunt id sed quam quasi voluptas modi iusto iure nisi voluptatibus ipsum cumque, aut voluptates ratione,
          laboriosam tempora ut odit nulla quas! Ducimus, accusamus reprehenderit</p>
        </div>
      </div>
    </div>
    <div class=empresas>
    <h3>Empresas que cresceram conosco</h3>
    <ul>
    
     
      <li><img src="images/empresas/5.jpg" alt=""></li>
      <li><img src="images/empresas/6.png" alt=""></li>
      <li><img src="images/empresas/1.jpg" alt=""></li>
      <li><img src="images/empresas/2.jpg" alt=""></li>
      <li><img src="images/empresas/3.png" alt=""></li>
      <li><img src="images/empresas/4.jpg" alt=""></li>
    </ul>
  </div>
  <div class="time">
    <h3>Conheça nosso time</h3>
    <ul>
      <li>
        <a href="https://github.com/leocristian">
          <img src="https://avatars.githubusercontent.com/u/42222394?v=4"></li>
      </a>


      <li> 
        <a href="https://github.com/RuybProgramming">
          <img src="https://avatars.githubusercontent.com/u/45250350?v=4"> </li>

        </a>
      <li>
        <a href="https://github.com/wrtinho">
          <img src="https://avatars.githubusercontent.com/u/26774355?v=4"></li>
        </a>
    </ul>
  </div>


  <footer>
    <h4>Capmoney</h4>
    <p>R. Cícero Duarte, nº 905 - Junco, Picos - PI, 64607-670</p>
    <p>📞 +55 (89) 4002-8922</p>
  </footer>
</body>

</html>