<h1>Listagem de STARTUPS</h1>

{% for startup in  startups %}
    Nome: {{startup.Nome}} <br>
    Email: {{startup.Email}} <br>
    Site: {{startup.Site}} <br>
    CNPJ: {{startup.CNPJ}} <br>
    <hr>
{% endfor %}