
#page-landing {
  background: var(--color-primary);  
  display: block;
}

/* BARRA SUPERIOR =============================================== BARRA SUPERIOR */
nav {
	background: #5434af;
	height: 80px;
	width: 100%;
}
label.logo {
	/* color: white; */
	font-size: 3rem;
	line-height: 80px;
	margin: 0 100px;
	font-weight: bold;
  cursor: pointer;
}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
  text-decoration: none;
}
nav ul li a#bttn-entrar {
  background-color: rgb(9, 165, 9);
}
a.active, a:hover {
  background: #1d075f;
	transition: .5s;
}
nav ul li a#bttn-entrar:hover {
  background-color: rgb(0, 182, 0);
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
    cursor: pointer;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}
/* END BARRA SUPERIOR =============================================== END BARRA SUPERIOR */

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  color: var(--color-box-base);
  width: 100%;
 /* background-color: linear-gradient(to right, var(--color-box-base) , var(--color-primary)); */
}

.logo-container h1 {
  font: 700 8rem Poppins;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.office-image {
  width: 100%;

}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;

  font: 700 2.4rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  color: var(--color-button-text);

  transition: background 0.2s;
}

.buttons-container a img {
  width: 4rem;
  margin-right: 2.4rem;
}

.buttons-container a.startup {
  background: var(--color-secondary);
}

.buttons-container a.startup:hover {
  background: var(--color-secondary-dark);
}

.buttons-container a.investidor {
  background: var(--color-primary-lighter);
  margin: 0;
}

.buttons-container a.investidor:hover {
  background: var(--color-primary-dark);
}

.cadastro{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 1100px) {
  :root {
    font-size: 38%;
  }

  .logo-container img {
    height: 10rem;
  }
}

@media (min-width: 1100px) {
  #page-landing #container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 350px 1fr;
    grid-template-areas: 
      "capmoney  img"
      "button  texting"
    ;
    column-gap: 87px;
    row-gap: 86px;
  }

  .logo-container {
   grid-area: capmoney;
   text-align: initial;
   align-self: center;
   margin: 0;
  }

  .logo-container img {
    height: 127px;
  }

  .office-image{
    grid-area: img;
    height: 350px;
  }

  .buttons-container {
    grid-area: button;
    justify-content: flex-start;
    margin: 0;
  }

  .cadastro{
    grid-area: texting;
    justify-self: end;
    font-size: 1.2rem;
  }

  

}